*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #141414;
    padding: 0;
}

/* Top navigation bar*/
#navbar {
    position : fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
#my-name-top {
    font-size: 1.5rem;
    color: #cfb845;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-left: 50px; 
}
.nav-links-container {
    display: flex;
    justify-content: flex-end;

}
.nav-links a{
    text-decoration: none;
    color: #7fc3c0;
    transition: 70ms;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-links {
    width: fit-content;
    padding: 10px 13px 7px 13px;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    transition: 70ms;
}
.nav-links:hover a{
    color: #cfb845;
}
.nav-links:hover {
    border-bottom-color: #cfb845;
}

/* Welcome section */
#welcome-section {
    width: 100%;
    padding: 1px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #141414, #141414 10%, #030303 20%);
}
#welcome-section div h1:first-child{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
#welcome-section div h1:last-child {
    color: #13ca20;
    font-size: 3.2rem;
    margin-left: 30px;
}

/* This is details sections */
.upper-ele {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 47px;
    margin: 0;
    z-index: 19
}
.up-details {
    background-color: #000;
}
#details {
    width: 100%;
    padding: 0;
    padding-bottom: 50px;
    background-color: #1e3d59;
}
#details-title {
    color: #f5f0e1;
    width: fit-content;
    margin: 10px auto;
    padding: 0 10px;
    border-bottom: 3px solid #f5f0e1;
}
.details-container {
    display: grid;
    max-width: 900px;
    margin: auto;
    padding: 10px 10px;
    gap: 10px 10px;
    grid-template-columns: 1fr 1fr;
}

/* The first box of information */
.basic-details {
    background-color: #d8deeb;
    grid-column: 1/3;
    border-radius: 10px;
    padding: 0 5px;
}
.inner-heading {
    margin: 0 10%;
    background-color: #ffc13b;
    width: max-content;
    padding: 3px 10px;
    font-size: 1.5rem;
    color: #eee;
    border-radius: 0 0 10px 10px;
}
#my-image img {
    width: 200px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 3px 3px;
}
.basic-details2 {
    display: flex;
    margin: 10px 5%;
}
.inner-basic-details {
    padding: 15px 22px;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.details-title {
    font-weight: bold;
    color: #000;
}
.detail-info {
    font-style: italic;
    color: #444;
}

/* Education box */
#education-details {
    background-color: #d8deeb;
    grid-column: 1/2;
    border-radius: 10px;
    padding: 0 5px;
}

.education-container {
    padding: 15px;
    padding-bottom: 10px;
}
.inner-education {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
}
.inner-education .inner-container {
    display: flex;
    margin: 12px;
    flex-direction: column;
    justify-content: space-evenly;
}
.edu-img {
    display: block;
    width: 70px;
    height: 70px;
    object-fit: fill;
    border-radius: 2px;
}
.edu-name {
    display: block;
    font-size: 1.3rem;
}
.edu-degree {
    display: block;
    font-size: 1.1rem;
    color: #222;
}
.edu-duration{
    color: #888;
    font-style: italic;
}

/* Skills Box */
#skills-details {
    background-color: #d8deeb;
    grid-column: 2/3;
    border-radius: 10px;
    padding: 0 5px;
}
.skills-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.skill-item{
    margin-bottom: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.skill-item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: 10px; 
}
.skill-item p {
    font-size: 20px;
    padding-left: 10px;
}

/* Projects section */
#projects {
    width: 100%;
    padding: 0;
    background-color: #b20238;
    padding-bottom: 50px;
}
.up-project {
    background-color: #1e3d59;
    z-index: 9;
}
#project-title {
    color: #039fbe;
    width: fit-content;
    margin: 10px auto;
    padding: 0 10px;
    border-bottom: 3px solid #039fbe;
}
.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width: 1000px;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
}
.project-item-outer {
    min-width: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0 5px;
}
.project-item-inner {
    width: 90%;
    height: 90%;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    transition: 200ms;
    transition-timing-function: linear;
}
.project-item-inner:hover {
    width: 100%;
    height: 100%;
}
.project-thumbnail-container {
    position: relative;
    width: 200px;
    height: 100%;
    overflow: hidden;
    padding: 0;
    border-radius: 15px 0 0 15px;
}
.project-thumbnail {
    width: 200px;
    display: block;
}
.project-item-inner:hover .project-thumbnail {
    animation-name: thumbnail-scroll;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 300ms;
}
@keyframes thumbnail-scroll {
    50%{
        transform: translateY(-10%);
    }
}
.project-info-section{
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.project-title {
    font-size: 1.4rem;
    color: #b20238;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.project-link {
    background: #1d3d09;
    padding: 10px;
    border-radius: 10px;
}
.project-link a {
    color: white;
    text-decoration: none;
}

/* Contact section */
#contacts {
    width: 100%;
    padding-bottom: 50px;
    background-color: #f5f0e1;
}
.up-contact {
    background-color: #b20238 ;
}
#contact-title {
    color: #1d3c45;
    width: fit-content;
    margin: 10px auto;
    padding: 0 10px;
    border-bottom: 3px solid #1d3c45;
}
.contact-outer-div {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 40px auto;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.social-pro-cont {
    width: 300px;
    position: relative;
    border-radius: 12px;
    height: 350px;
    margin-bottom: 12px;
}
.social-pro-cont:hover {
    box-shadow: 0 0 5px 2px #444;
}
.social-thumbnail {
    width: 300px;
    border-radius: 12px;
}
.social-thumbnail img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}
.social-inner-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background: linear-gradient(180deg, transparent, #1b1f23 50%);
}
.social-username {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 10px;
}
.social-link-outer {
    width: 100%;
    padding: 2px 24px;

}
.social-link-outer a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #2867b2;
    padding: 5px;
    background-color: white;
    text-decoration: none;
    border-radius: 12px;
}
.social-logo {
    height: 1.3rem;
    margin: 0 3px 3px 0 ;
}
.social-tagline {
    color: #aaa;
    margin: 5px;
    visibility: hidden;
    transition: 200ms;
}
.social-pro-cont:hover .social-tagline {
    visibility: visible;
}

#twitter-tagline, #github-tagline {
    color: black;
}
footer {
    color: white;
    text-align: center;
    padding: 20px 20px 40px;
}
footer h3 {
    color: #eee;
}

@media (max-width: 600px) {
    html{
        font-size: 80%;
    }
    #navbar{
        justify-content: center;
    }
    #my-name-top {
        display: none;
    }
    .nav-links-container {
        justify-content: center;
    }
    #welcome-section {
        text-align: center;
    }
    #welcome-section div h1:last-child{
        margin: unset;
    }
    #welcome-section div h1:last-child i {
        display: block;
    }
}

@media (max-width: 480px) {
    
    .details-container {
        width: 100%;
        max-width: unset;
        grid-template-columns: 10px 1fr 10px;
    }
    .basic-details {
        grid-column: 2/3;
    }
    #my-image img{
        width: 90%;
    }
    .basic-details2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #education-details {
        grid-column: 2/3;
    }
    #skills-details {
        grid-column: 2/3;
    }

    .project-item-outer {
        min-width: unset;
        height: unset;
        width: 100%;
        margin-bottom: 15px;
    }
    .project-item-inner {
        flex-direction: column;
        width: 90%;
        height: 90%;
        border-radius: 15px;
        justify-content: center;
        padding-bottom: 1px;
    }
    .project-thumbnail-container {
        width: 100%;
        height: 10rem;
        border-radius: 15px;
    }
    .project-thumbnail {
        width: 100%;
        border-radius: 15px 15px 0 0;
    }
    .project-info-section {
        justify-content: center;
        align-items: center;
    }
    .project-link {
        margin: 15px 0;
    }
}
@media (max-width: 350px) {
    .social-pro-cont{
        width: 90%;
        background-color: #444;
    }
    .social-thumbnail {
        width: 100%;
    }
    .social-inner-main {
        background: linear-gradient(180deg, transparent, #1b1f23 40%);
    }
}